section {
  min-height: 120px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.zoomDiv {
  background: red;
}
.zoomDiv div {
  cursor: zoom-in;
}
.creatDiv {
  background: blue;
}
div {
  background: green;
  border: 2px solid black;
  height: 80px;
  width: 80px;
  margin: 10px;
  transition: 0.3s ease-in-out;
}
#creatButton {
  position: absolute;
  left: 50%;
  transform: translate(180px);
  height: 80px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 0 7px 7px 0;
  background-color: #ffffffb5;
  transition: 0.15s ease-in-out;
}
#creatButton:hover {
  transform: scale(1.1) translate(170px);
}
.creatDiv div {
  border: none;
}
.creatDiv div:nth-child(6),
.creatDiv div:nth-child(7),
.creatDiv div:nth-child(8),
.creatDiv div:nth-child(9) {
  display: none;
}
.extend {
  background: yellowgreen;
  position: relative;
}
#Pic1 {
  background: red;
}
#Pic2 {
  background: purple;
}
#Pic3 {
  background: whitesmoke;
}
#Pic4 {
  background: yellow;
}
.carou {
  height: 280px;
  width: 160px;
  display: none;
}
.view {
  display: block;
}
.extend span {
  position: absolute;
  bottom: 25px;
  cursor: default;
}
span input {
  appearance: none;
  height: 15px;
  width: 15px;
  background-color: rgb(195, 216, 212);
  border-radius: 50px;
  border: 1px solid black;
  transition: 0.5s ease-out;
}
span input:checked {
  background-color: rgb(0, 0, 0);
}
