section {
  min-height: 120px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.zoomDiv {
  background: red;
}
.zoomDiv div {
  cursor: zoom-in;
}
.creatDiv {
  background: blue;
}
div {
  background: green;
  border: 2px solid black;
  height: 80px;
  width: 80px;
  margin: 10px;
  transition: 0.3s ease-in-out;
}
#creatButton {
  position: absolute;
  left: 50%;
  transform: translate(180px);
  height: 80px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 0 7px 7px 0;
  background-color: #ffffffb5;
  transition: 0.15s ease-in-out;
}
#creatButton:hover {
  transform: scale(1.1) translate(170px);
}
.creatDiv div {
  border: none;
}
.creatDiv div:nth-child(6),
.creatDiv div:nth-child(7),
.creatDiv div:nth-child(8),
.creatDiv div:nth-child(9) {
  display: none;
}
.extend {
  background: yellowgreen;
}
