section {
  min-height: 120px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.zoomDiv {
  background: red;
}
.creatDiv {
  background: blue;
}
div {
  background: green;
  border: 2px solid black;
  height: 80px;
  width: 80px;
  margin: 10px;
  cursor: zoom-in;
  transition: 0.3s ease-in-out;
}
